<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.masvistas"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.example.masvistas.MainMenu"
            android:label="@string/title_activity_main_menu" >
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.masvistas.Counter"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.example.masvistas.DatosReceptor"
            android:label="About"
            android:theme="@style/dialogTheme" >
        </activity>
        
        <activity
            android:name="com.example.masvistas.DatosEmisor"
            android:label="@string/title_activity_datos_emisor" >
        </activity>
    </application>

</manifest>